{% extends "Actor_&_Movie_Base.html.twig" %}

{% block body %}
   <h1 class= "heading1 position-relative text-light">Actor & Movie</h1>

    <table class="actorTable table bg-transparent text-light position-relative">
        <thead>
        <tr>
            <th scope="col">Actor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2"></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td colspan="2"></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td colspan="2"></td>
            <td></td>
        </tr>
        </tbody>
    </table>

{% endblock %}